html{
    background-color: #eefcfc;
}
.main-title{
    height: 300px;
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
}
.title-text{
    color: white;
    text-align: center;
    padding-top: 100px;
    height: 60%;
    width: 40%;
    border: inline-block;
    float: left;
}
.title-text-p{
    padding-top: 100px;
    height: fit-content;
    margin-top: 0;
    color: white;
    background-color: black;
}
.title{
    height: 300px;
    background-color: white;
    text-align: center;
}
.title-image{
    height: 100%;
    float: right;
    padding-left: 50px;
    padding-right: 25px;
    border-radius: 25px;
}
.menu-bar{
    height: 50px;
    width: 100%;
    
}
.about-container{
    display: inline-block;
    float: left;
    font-size: 20px;
    padding-bottom: 25px;
    margin-top: 25px;
    margin-left: 25px;
    border-radius: 25px;
    height: fit-content;
    width: 40%;
    text-align: center;
    overflow: auto;
    background-color: lightblue;
}
.image{
    margin-top: 25px;
    margin-left: 25px;
    width:55%;
    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active) {
    background-color: white;
    color: black;
    border-radius: 25px;
}
.description{
    background-color: black;
    margin-top: 25px;
    width: 95%;
    margin-left: 25px;
    height: 350px;
    border-radius: 50px
}
.desc{
    color: white;
    height: fit-content;
    width: 200px;
    padding-right: 20px;
    padding-top: 25px;
    padding-bottom: 20px;
    border: inline-block;
    float: right;
    font-size: 20px;
}
.index-image{
    width: 350px;
    height: 250px;
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-radius: 50px;
    margin-left: left;
}
.legal-rights{
    margin-left: 60px;
    background-color: black;
    margin-top: 50px;
    border-radius: 30px;
    color: white;
    overflow: hidden;
    width: 90%;
    text-align: center;
    font-size: 22px;
}
.ycja-rights{
    height: fit-content;
    width: 40%;
    padding: 15px;
    padding-left: 25px;
    border: inline-block;
    font-size: 20px;
    float: left;
}
.ycja-info-image{
    height: 250px;
    width: 400px;
    padding: 15px;
    padding-left: 25px;
    border: inline-block;
    float: left;
    border-radius: 50px;
}
.adult-rights{
    height: fit-content;
    width: 40%;
    padding: 15px;
    padding-left: 25px;
    border: inline-block;
    font-size: 20px;
    float: right;
}
.process{
    margin-top: 20px;
    text-align: center;
    background-color: black;
    border-radius: 25px;
    color: white;
}
.sentence-text{
    color: white;
    padding-top: 100px;
    text-align: center;
    margin: 0;
}
.p-image{
    width: 90%;
    height: auto;
    border-radius: 50px;
}
.process-s{
    font-size: 25px;
    text-align:center;
}

.goals{
    background-color: black;
    border-radius: 25px;
}
.goal-title{
    border:inline-block;
    text-align: center;
    float: left;
    color: white;
    background-color: black;
    width: 50%;
    height: 100%;
    padding: 25px;
}
.goal-p{
    color: white;
    
    padding: 25px;
    font-size: 20px;
}
.goal-img{
    float: right;
    width: 40%;
    height: auto;
    padding: 25px;
}
.end{
    background-color: black;
    color: white;
    margin-top: 50px;
    height: 100px;
    text-align: center;
}
.end-t{
    padding-top: 40px;
    color: white;
    font-size: 12px;
}
.process-s-explanation{
    background-color: black;
    font-size: 20px;
    padding: 25px;
    color: white;
    border-radius: 25px;
}
.sentences{
    margin-left: 60px;
    background-color: black;
    margin-top: 50px;
    border-radius: 30px;
    color: white;
    overflow: hidden;
    width: 90%;
    text-align: center;
    font-size: 22px;
}
.ycja-sentences{
    height: fit-content;
    width: 40%;
    padding: 15px;
    padding-left: 25px;
    border: inline-block;
    font-size: 20px;
    float: left;
}
.adult-sentences{
    height: fit-content;
    width: 40%;
    padding: 15px;
    padding-left: 25px;
    border: inline-block;
    font-size: 20px;
    
}
.bottom{
    padding-top: 850px;
}

.goal-b{
    color: white;
    height: 25px;
    padding: 25px;
    font-size: 20px;
    text-align: center;
}
